/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.github            export-ignore
/.gitignore         export-ignore
/.php-cs-fixer.php  export-ignore
/.php-version       export-ignore
/link               export-ignore
/Makefile           export-ignore
/docker-compose.yml export-ignore
/phpunit.xml.dist   export-ignore
/res/img            export-ignore
/tests              export-ignore
